name: Build Kernel r5x
on:
  workflow_dispatch:
    inputs:
      BRANCH:
        description: Kernel branch
        default: 'android-16'
        required: true
        
jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
    
    - name: Get date
      id: rundate
      run: |
        sudo rm /etc/localtime && sudo ln -s /usr/share/zoneinfo/Asia/Jakarta /etc/localtime
        echo "REPO_DATE=`date`" >> $GITHUB_OUTPUT
    
    - uses: actions/checkout@v4
      with:
        path: kernel_root
        repository: "${{ github.actor }}/android_kernel_realme_r5x"
        ref: ${{ inputs.BRANCH }}
        show-progress: false
        fetch-depth: 1
        
    - name: Prepare dependencies
      run: |
        sudo apt update -y
        sudo apt install bc cpio flex bison aptitude git python-is-python3 tar perl wget aria2 curl lz4 -y
        sudo aptitude install libssl-dev -y
        
    - name: Build Kernel
      run: |
        bash build.sh
      working-directory: kernel_root
        
    - name: Upload Output
      uses: actions/upload-artifact@v4
      with:
        name: ImageZip
        path: kernel_root/out/arch/arm64/boot/*
